<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <h1 class="title has-text-centered">The Tech Blog</h1>
      {{#if logged_in}}
      <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <form action="/home" method="GET">
                <button type="submit" class="button is-primary">Home</button>
              </form>
            </div>
            <div class="navbar-item">
              <form action="/dashboard" method="GET">
                <button type="submit" class="button is-primary">Dashboard</button>
              </form>
            </div>
            <div class="navbar-item">
              <form action="/api/users/logout" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="button is-danger">Logout</button>
              </form>
            </div>
            <div class="navbar-item">
              <p class="logged-in-user">Logged in as: {{loggedInUser.name}}</p>
            </div>
          </div>
        </div>
      </nav>
      {{/if}}
    </div>
  </header>




  <main class="main">
    <div class="container">
      {{{ body }}}
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2023 The Tech Blog. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>

<script src="/js/profile.js"></script>