<div class="container">
  <h2>Login</h2>
  <form id="loginForm" action="/api/users/login" method="POST">
    <div class="field">
      <label for="username" class="label">Username:</label>
      <div class="control">
        <input type="text" id="username" name="username" class="input" placeholder="Enter your username">
      </div>
    </div>
    <div class="field">
      <label for="password" class="label">Password:</label>
      <div class="control">
        <input type="password" id="password" name="password" class="input" placeholder="Enter your password">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">Login</button>
      </div>
    </div>
  </form>
</div>

<div>
  <button type="button" onclick="window.location.href='/signup'" class="button is-link">Sign Up</button>
</div>

<script id="login-template" type="text/x-handlebars-template">
  <div class="welcome-message">
    <h3>Welcome, {{username}}!</h3>
    <p>You have successfully logged in.</p>
  </div>
</script>

<script src="handlebars.min.js"></script>
<script src="main.js"></script>